node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.venv
**/__pycache__/
.pyc
env/
build/
.DS_Store
.idea/
.vs/
# .vscode is deliberately not ignored to allow for extension recommendations
.codex/
Thumbs.db
data-sources/
.tts_cache/
.onnx
src/python/kokoro-v0_19.onnx
.env
.env.*
!.env.template
